:host{
    height: 100%;
}
.product-datail{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.product-detail-image{
    align-self: center;
    width: 100%;
    img{
        object-fit: cover;
        width: inherit;
    }
}
.product-detail-content{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    h1{
        text-align: center;
        text-transform: uppercase;
    }
    .product-action{
        text-align: center;
    }
}